{{ $target := .Get 0 }}
{{ $pages := where .Site.RegularPages "Section" "in"
(slice $target)
}}
{{ $filteredPages := slice }}
{{ range $pages }}
{{ if and
(eq .Kind "section") (not (strings.Contains .RelPermalink "/posts/misc/"))
}}
{{ $filteredPages = $filteredPages | append . }}
{{ end }}

{{ end }}


<ul>
    {{ range $filteredPages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>