<div
  class="wrapper"
  style="
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 8px 0;
  "
>
  <canvas id="growthRateChart" width="800" height="500"></canvas>
</div>
<script>
  // Growth rate data for India (1951-2011)
  const years = [
    "1951-61",
    "1961-71",
    "1971-81",
    "1981-91",
    "1991-2001",
    "2001-11",
  ];
  const growthRates = [21.64, 24.8, 24.66, 23.87, 21.54, 17.64]; // Example growth rates

  // Define Chart.js chart configuration
  let context = document.getElementById("growthRateChart").getContext("2d");
  let theChart = new Chart(context, {
    type: "line",
    data: {
      labels: years,
      datasets: [
        {
          label: "Growth Rate",
          data: growthRates,
          fill: false,
          borderColor: "rgba(75, 192, 192, 1)",
          borderWidth: 2,
          pointBackgroundColor: "rgba(75, 192, 192, 1)",
          pointRadius: 5,
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "rgba(75, 192, 192, 1)",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: false,
          title: {
            display: true,
            text: "Growth Rate (%)",
          },
        },
        x: {
          title: {
            display: true,
            text: "Years",
          },
        },
      },
      plugins: {
        title: {
          display: true,
          text: "India's Growth Rate (1951-2011)",
        },
      },
    },
  });
</script>
