<div
  class="wrapper"
  style="
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 8px 0;
  "
>
  <canvas id="populationChart" width="800" height="500"></canvas>
</div>
<script>
  // Total population data for India (1951-2011)
  const time = [
    "1951-61",
    "1961-71",
    "1971-81",
    "1981-91",
    "1991-2001",
    "2001-11",
    "2011-24",
  ];
  const population = [
    361088000, 439235000, 548160000, 683329000, 846387888, 1210569573,
    1400000000,
  ]; // Example total population data

  // Define Chart.js chart configuration
  let theContext = document.getElementById("populationChart").getContext("2d");
  let aChart = new Chart(theContext, {
    type: "bar",
    data: {
      labels: time,
      datasets: [
        {
          label: "Total Population",
          data: population,
          backgroundColor: "rgba(255, 99, 132, 0.8)",
          borderColor: "rgba(255, 99, 132, 1)",
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: "Total Population",
          },
        },
        x: {
          title: {
            display: true,
            text: "Years",
          },
        },
      },
      plugins: {
        title: {
          display: true,
          text: "India's Total Population (1951-2011)",
        },
      },
    },
  });
</script>
