<div
  class="wrapper"
  style="
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 8px 0;
  "
>
  <canvas id="statePopulationChart" width="400" height="400"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // Population data for the top 10 most populous states in India (2011 census)
  const stateNames = [
    "Uttar Pradesh",
    "Maharashtra",
    "Bihar",
    "West Bengal",
    "Andhra Pradesh",
    "Madhya Pradesh",
    "Tamil Nadu",
    "Rajasthan",
    "Karnataka",
    "Gujarat",
  ];
  const populations = [
    199812341, 112374333, 104099452, 91276115, 84580777, 72626809, 72147030,
    68548437, 61095297, 60439692,
  ];

  // as of 2011
  const totalPopulation = 1210854977;

  // Calculate the percentage contribution of each state
  let percentageContributions = populations.map((population) =>
    ((population / totalPopulation) * 100).toFixed(2),
  );

  // Define a Chart.js plugin to set custom canvas background color
  const customCanvasBackgroundColor = {
    id: "customCanvasBackgroundColor",
    beforeDraw: (chart, args, options) => {
      const { ctx } = chart;
      ctx.save();
      ctx.globalCompositeOperation = "destination-over";
      ctx.fillStyle = options.color || "#99ffff";
      ctx.fillRect(0, 0, chart.width, chart.height);
      ctx.restore();
    },
  };

  // Define Chart.js chart configuration
  let ctx = document.getElementById("statePopulationChart").getContext("2d");
  let myChart = new Chart(ctx, {
    type: "pie",
    data: {
      labels: stateNames.map(
        (name, index) => `${name} (${percentageContributions[index]}%)`,
      ),
      datasets: [
        {
          label: "Population",
          data: populations,
          backgroundColor: [
            "#ffb211",
            "#006C67",
            "#623CEA",
            "#60D394",
            "#C287E8",
            "#EE6055",
            "#e1dee9",
            "#7EB2DD",
            "#fd52a4",
            "#3772FF",
          ],
          borderColor: "#333333",
          color: "#191919",
          borderWidth: 1,
        },
      ],
    },
    options: {
      plugins: {
        customCanvasBackgroundColor: {
          color: "white",
        },
        title: {
          display: true,
          text: "Population of Top 10 Most Populous States in India (2011 Census)",
        },
      },
    },
  });
</script>
